<div>
	<div class="add-question-header">
		<div class="add-question-selector text-left">
			<app-book-selector />
		</div>
		<div class="add-question-selector text-left">
			@if (bookIsSelected) {
				<app-chapter-selector />
			}
		</div>
		<div class="add-question-page text-left">
			@if (chapterIsSelected) {
				<div>
					<label class="font-weight-bold">{{ 'questions.add.page' | transloco }}</label>
					<div class="input-group add-question-page-input">
						<input class="form-control" min="1" max="9999" type="number" [(ngModel)]="pageNr" />
					</div>
				</div>
			}
		</div>
	</div>
	<div class="ckeditorrow add-question-editor">
		<label class="font-weight-bold">{{ 'questions.add.question' | transloco }}</label>
		<ckeditor
			[disabled]="!chapterIsSelected"
			[editor]="editor"
			[(ngModel)]="question"
			[config]="editorConfig"
		></ckeditor>
	</div>
	<div class="ckeditorrow add-question-editor">
		<label class="font-weight-bold">{{ 'questions.add.answer' | transloco }}</label>
		<ckeditor
			[disabled]="(!chapterIsSelected || !hasQuestion) && !hasAnswer"
			[editor]="editor"
			[(ngModel)]="answer"
			[config]="editorConfig"
		></ckeditor>
	</div>
	<div class="button-row add-question-actions">
		<button
			class="btn"
			[class.btn-primary]="canSave"
			[class.btn-secondary]="!canSave"
			(click)="addOrEdit()"
			[disabled]="!chapterIsSelected"
		>
			{{ buttonText }}
		</button>
	</div>
</div>
