<div>
	<div class="row g-3 align-items-end">
		<div class="col-12 col-md-4 text-left">
			<app-book-selector />
		</div>
		<div class="col-12 col-md-4 text-left">
			@if (bookIsSelected) {
				<app-chapter-selector />
			}
		</div>
		<div class="col-12 col-md-2 text-left">
			@if (chapterIsSelected) {
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>{{ 'questions.add.page' | transloco }}</mat-label>
					<input matInput min="1" max="9999" type="number" [(ngModel)]="pageNr" />
				</mat-form-field>
			}
		</div>
	</div>
	<div class="ckeditorrow mt-3">
		<label class="fw-bold">{{ 'questions.add.question' | transloco }}</label>
		<ckeditor
			[disabled]="!chapterIsSelected"
			[editor]="editor"
			[(ngModel)]="question"
			[config]="editorConfig"
		></ckeditor>
	</div>
	<div class="ckeditorrow mt-3">
		<label class="fw-bold">{{ 'questions.add.answer' | transloco }}</label>
		<ckeditor
			[disabled]="(!chapterIsSelected || !hasQuestion) && !hasAnswer"
			[editor]="editor"
			[(ngModel)]="answer"
			[config]="editorConfig"
		></ckeditor>
	</div>
	<div class="button-row mt-3">
		<button
			class="w-100 mb-3"
			mat-raised-button
			color="primary"
			(click)="addOrEdit()"
			[disabled]="!chapterIsSelected"
		>
			{{ buttonText }}
		</button>
	</div>
</div>
