<div>
	<div class="row">
		<div class="col-5 text-left">
			<app-book-selector />
		</div>
		<div class="col-5 text-left">
			<app-chapter-selector *ngIf="bookIsSelected" />
		</div>
		<div class="col text-left">
			<div *ngIf="chapterIsSelected">
				<label class="font-weight-bold">{{ 'questions.add.page' | transloco }}</label>
				<div class="input-group row no-gutters">
					<input class="form-control" min="1" max="9999" type="number" [(ngModel)]="pageNr" />
				</div>
			</div>
		</div>
	</div>
	<div class="row ckeditorrow">
		<div class="col text-left">
			<label class="font-weight-bold">{{ 'questions.add.question' | transloco }}</label>
			<ckeditor
				[disabled]="!chapterIsSelected"
				[editor]="editor"
				[(ngModel)]="question"
				[config]="editorConfig"
			></ckeditor>
		</div>
	</div>
	<div class="row ckeditorrow">
		<div class="col text-left">
			<label class="font-weight-bold">{{ 'questions.add.answer' | transloco }}</label>
			<ckeditor
				[disabled]="(!chapterIsSelected || !hasQuestion) && !hasAnswer"
				[editor]="editor"
				[(ngModel)]="answer"
				[config]="editorConfig"
			></ckeditor>
		</div>
	</div>
	<div class="row button-row">
		<div class="col text-right">
			<button
				class="btn"
				[class.btn-primary]="canSave"
				[class.btn-secondary]="!canSave"
				(click)="addOrEdit()"
				[disabled]="!chapterIsSelected"
			>
				{{ buttonText }}
			</button>
		</div>
	</div>
</div>
