/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.input-group-button {
	display: flex;
	align-items: center;
	padding: 0;
	background: transparent;
	border: 0;
}
