<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>{{ 'books.table.nr' | transloco }}</th>
				<th class="text-left">{{ 'books.table.title' | transloco }}</th>
				<th>{{ 'books.table.nrOfChapters' | transloco }}</th>
				<th>{{ 'books.table.nrOfQuestions' | transloco }}</th>
				<th width="90"></th>
			</tr>
		</thead>
		<tbody>
			<tr
				app-book-record
				*ngFor="let book of booksSorted$ | async; index as i"
				[book]="book"
				[index]="i + 1"
			></tr>
		</tbody>
		<tfoot *ngIf="(hasBooks$ | async) === false">
			<tr>
				<th colspan="6">{{ 'books.table.none' | transloco }}</th>
			</tr>
		</tfoot>
	</table>
</div>
