<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Nr.</th>
				<th class="text-left">Title</th>
				<th>
					Nr of
					<br />chapters
				</th>
				<th>
					Nr of
					<br />questions
				</th>
				<th width="90"></th>
			</tr>
		</thead>
		<tbody>
			<tr
				app-book-record
				*ngFor="let book of booksSorted$ | async; index as i"
				[book]="book"
				[index]="i + 1"
			></tr>
		</tbody>
		<tfoot *ngIf="(hasBooks$ | async) === false">
			<tr>
				<th colspan="6">No books</th>
			</tr>
		</tfoot>
	</table>
</div>
