<div>
	<mat-form-field appearance="outline" class="w-100">
		@if (showLabel) {
			<mat-label>{{ 'chapters.selector.label' | transloco }}</mat-label>
		}
		<mat-select
			[disabled]="disabled"
			[ngModel]="selectedChapterId"
			(ngModelChange)="onChapterSelected($event)"
		>
			@for (chapter of chapters; track chapter.id) {
				<mat-option [value]="chapter.id">
					{{ chapter.nr + ('chapters.selector.separator' | transloco) + chapter.title }}
				</mat-option>
			}
		</mat-select>
	</mat-form-field>
</div>
