	<td>
		<app-add-or-remove removeColor="red" (add)="addQuestionToList()" (remove)="removeQuestionFromList()" />
	</td>
	<td>{{ index }}</td>
	<td class="text-left" [attr.aria-label]="'questions.record.questionAria' | transloco" [innerHTML]="questionStr()"></td>
	<td class="text-left" [attr.aria-label]="'questions.record.answerAria' | transloco" [innerHTML]="answerStr()"></td>
	<td [attr.aria-label]="'questions.record.pageAria' | transloco">{{ question.pageNr }}</td>
	<td class="text-center">
		<div class="table-actions">
			<app-icon-button
				icon="edit"
				[label]="'questions.record.edit' | transloco"
				[argument]="question"
				(buttonClick)="edit(question)"
				[disabled]="questionInEditMode"
			/>
			<app-icon-button
				icon="trash-alt"
				[label]="'questions.record.trash' | transloco"
				[argument]="question"
				(buttonClick)="trash(question)"
			/>
		</div>
	</td>
