<div
	class="modal fade"
	tabindex="-1"
	role="dialog"
	[id]="id"
	[class.show]="isOpen"
	[style.display]="isOpen ? 'block' : 'none'"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ title }}</h5>
				<button type="button" class="close" aria-label="Close" (click)="cancel()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">{{ text }}</div>
			<div class="modal-footer">
				<div class="container">
					<div class="row" style="min-width: 100%">
						<div class="col text-left">
							<button type="button" aria-label="ok" class="btn btn-secondary" (click)="ok()">
								{{ okText }}
							</button>
						</div>
						<div class="col text-right">
							<button type="button" class="btn btn-secondary" aria-label="cancel" (click)="cancel()">
								{{ cancelText }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
