<div class="dropdown" (mouseleave)="closeMenu()">
	<button
		class="btn dropdown-toggle"
		type="button"
		aria-haspopup="true"
		[attr.aria-expanded]="isOpen"
		(click)="toggleMenu()"
	>
		<fa-icon icon="eye" />
		<span class="view-mode-text">{{ 'viewMode.label' | transloco }}</span>
	</button>
	@if (viewMode$ | async; as viewMode) {
		<div class="dropdown-menu" [class.show]="isOpen">
			<app-view-mode-item
				icon="columns"
				[text]="'viewMode.both' | transloco"
				viewMode="both"
				[currentViewMode]="viewMode"
				(select)="updateViewMode($event)"
			/>
			<app-view-mode-item
				icon="book"
				[text]="'viewMode.libraryOnly' | transloco"
				viewMode="library"
				[currentViewMode]="viewMode"
				(select)="updateViewMode($event)"
			/>
			<app-view-mode-item
				icon="question-circle"
				[text]="'viewMode.questionsOnly' | transloco"
				viewMode="questions"
				[currentViewMode]="viewMode"
				(select)="updateViewMode($event)"
			/>
		</div>
	}
</div>
