<div class="form-group">
	<div class="add-book-label text-left">
		<label class="font-weight-bold" for="bookTitleText">{{ 'books.titleLabel' | transloco }}</label>
	</div>
	<div class="input-group add-book-input">
		<input
			class="form-control"
			[class.is-invalid]="invalidTitle && !bookTitleIsEmpty"
			id="bookTitleText"
			type="text"
			[(ngModel)]="bookTitle"
			(ngModelChange)="onTitleChanged($event)"
			(keydown.enter)="ok()"
			(keydown.escape)="cancel()"
			[title]="errorMessageToShow"
		/>
		<div class="input-group-text input-group-button">
			<button
				mat-raised-button
				color="primary"
				[disabled]="invalidTitle"
				id="btn-ok-book"
				(click)="ok()"
			>
				{{ buttonText }}
			</button>
		</div>
	</div>
</div>
