<div style="width: 70px;">
	<button
		mat-icon-button
		class="add-remove-button"
		[attr.aria-label]="'buttons.remove' | transloco"
		[title]="removeFromText"
		(click)="click('remove')"
	>
		<fa-icon icon="minus" [style]="{ color: removeColor }"></fa-icon>
	</button>
	<button
		mat-icon-button
		class="add-remove-button"
		[attr.aria-label]="'buttons.add' | transloco"
		[title]="addToText"
		(click)="click('add')"
	>
		<fa-icon icon="plus" [style]="{ color: addColor }"></fa-icon>
	</button>
</div>
