<div>
	<div class="add-chapter-row">
		<div class="add-chapter-number">
			<mat-form-field appearance="outline" class="add-chapter-field">
				<mat-label>{{ 'chapters.nrLabel' | transloco }}</mat-label>
				<input
					matInput
					[class.is-invalid]="error.nr !== ''"
					type="text"
					[(ngModel)]="chapter.nr"
					(ngModelChange)="numberChanged()"
					(keydown.escape)="cancel()"
					[title]="error.nr"
					[attr.aria-label]="'chapters.nrAria' | transloco"
				/>
			</mat-form-field>
		</div>
		<div class="add-chapter-title">
			<div class="input-group add-chapter-input">
				<mat-form-field appearance="outline" class="add-chapter-field">
					<mat-label>{{ 'chapters.titleLabel' | transloco }}</mat-label>
					<input
						matInput
						[class.is-invalid]="error.title !== ''"
						type="text"
						[(ngModel)]="chapter.title"
						(ngModelChange)="titleChanged()"
						(keydown.enter)="ok()"
						(keydown.escape)="cancel()"
						[title]="error.title"
						[attr.aria-label]="'chapters.titleAria' | transloco"
					/>
				</mat-form-field>
				<div class="input-group-button">
					<button
						mat-raised-button
						color="primary"
						[disabled]="!canExecute"
						(click)="ok()"
					>
						{{ buttonText }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
