<div>
	<div class="add-chapter-row">
		<div class="add-chapter-number">
			<label class="font-weight-bold">{{ 'chapters.nrLabel' | transloco }}</label>
			<input
				class="form-control"
				[class.is-invalid]="error.nr !== ''"
				type="text"
				[(ngModel)]="chapter.nr"
				(ngModelChange)="numberChanged()"
				(keydown.escape)="cancel()"
				[title]="error.nr"
				[attr.aria-label]="'chapters.nrAria' | transloco"
			/>
		</div>
		<div class="add-chapter-title">
			<label class="font-weight-bold">{{ 'chapters.titleLabel' | transloco }}</label>
			<div class="input-group add-chapter-input">
				<input
					class="form-control"
					[class.is-invalid]="error.title !== ''"
					type="text"
					[(ngModel)]="chapter.title"
					(ngModelChange)="titleChanged()"
					(keydown.enter)="ok()"
					(keydown.escape)="cancel()"
					[title]="error.title"
					[attr.aria-label]="'chapters.titleAria' | transloco"
				/>
				<div class="input-group-append">
					<button
						mat-raised-button
						color="primary"
						[disabled]="!canExecute"
						(click)="ok()"
					>
						{{ buttonText }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
