<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>{{ 'chapters.table.nr' | transloco }}</th>
				<th class="text-left">{{ 'chapters.table.title' | transloco }}</th>
				<th>{{ 'chapters.table.nrOfQuestions' | transloco }}</th>
				<th width="90"></th>
			</tr>
		</thead>
		<tbody>
			@for (chapter of chapters$ | async; track chapter.id) {
				<tr app-chapter-record [chapter]="chapter"></tr>
			}
		</tbody>
		@if ((hasChapters$ | async) === false) {
			<tfoot>
				<tr>
					<th colspan="5">{{ 'chapters.table.none' | transloco }}</th>
				</tr>
			</tfoot>
		}
	</table>
</div>
