<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>{{ 'chapters.table.nr' | transloco }}</th>
				<th class="text-left">{{ 'chapters.table.title' | transloco }}</th>
				<th>{{ 'chapters.table.nrOfQuestions' | transloco }}</th>
				<th width="90"></th>
			</tr>
		</thead>
		<tbody>
			<tr
				app-chapter-record
				*ngFor="let chapter of chapters$ | async"
				[chapter]="chapter"
			></tr>
		</tbody>
		<tfoot *ngIf="(hasChapters$ | async) === false">
			<tr>
				<th colspan="5">{{ 'chapters.table.none' | transloco }}</th>
			</tr>
		</tfoot>
	</table>
</div>
