.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}

.tab-content .bordered {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px;
	border-radius: 10px;
	border-top-left-radius: 0;
	margin-right: -10px;
}
