<div>
	<a [id]="exportLibLinkId" style="display: none"></a>
	<app-icon-button
		icon="file-download"
		[label]="'importExport.export' | transloco"
		[argument]="true"
		[size]="buttonSize"
		(buttonClick)="exportLib()"
	/>
	<app-icon-button
		icon="file-upload"
		[label]="'importExport.import' | transloco"
		[argument]="true"
		[size]="buttonSize"
		(buttonClick)="importLib()"
	/>
	<div class="modal fade" tabindex="-1" role="dialog" [id]="importModalId" [class.show]="isImportOpen" [style.display]="isImportOpen ? 'block' : 'none'">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{ 'importExport.modalTitle' | transloco }}</h5>
					<button type="button" class="close" [attr.aria-label]="'importExport.close' | transloco" (click)="closeModal()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						{{ 'importExport.warning' | transloco }}
					</p>
					<p>{{ 'importExport.selectHint' | transloco }}</p>
					<input type="file" (change)="processFile($event)" />
				</div>
				<div class="modal-footer">
					<div class="import-export-footer">
						<button
							type="button"
							class="btn btn-primary"
							[attr.aria-label]="'importExport.okAria' | transloco"
							(click)="executeImport()"
							[disabled]="jsonToImport == null"
						>
							{{ 'importExport.importButton' | transloco }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
