.btn-xs {
	padding: 0.25rem 0.4rem;
	font-size: 0.875rem;
	line-height: 0.5;
	border-radius: 0.2rem;
}

.btn-m {
	font-size: 1.25rem;
	border-radius: 0.4rem;
}

.btn-l {
	padding: 0;
	font-size: 2rem;
	line-height: 2;
	border-radius: 1rem;
}
