<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-2 text-left"><app-clear-button /></div>
			<div class="col-8">
				<h5>
					Question list
					<span
						class="h6"
						*ngIf="(listHasNoQuestions$ | async) === false"
						aria-label="Number of questions in the list."
					>
						({{ (questionsInList$ | async)?.length }})
					</span>
				</h5>
			</div>
			<div class="col-2"></div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="40"></th>
					<th width="60">#</th>
					<th class="text-left">Question</th>
				</tr>
			</thead>
			<tbody>
				<tr
					app-question-list-record
					*ngFor="let question of questionsInList$ | async; index as i"
					[index]="i + 1"
					[question]="question"
				></tr>
			</tbody>
			<tfoot *ngIf="listHasNoQuestions$ | async">
				<tr>
					<th colspan="3" aria-label="Instructions on how to add a question to the list." class="font-weight-normal">
						Add questions to this list by using the
						<app-icon-button icon="plus" [argument]="true" />button on books, chapters and individual questions.
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
